streamlit
pandas
numpy
matplotlib
plotly

scikit-learn

langchain
langchain-google-genai
langchain-huggingface
langchain-chroma
langchain-community
langchain-core


chromadb
faiss-cpu

sentence-transformers
transformers
torch

requests
python-dotenv

protobuf==3.20.3  
google-generativeai
gspread
google-auth 

huggingface-hub